In [31]:
import pandas as pd
import numpy as np
import plotly.express as px
import itertools

In [33]:
df = pd.read_csv('E:/python_lecture/resources/gk_items.csv', sep = ',')
df.head(5)

,Progress,UserLanguage,Collection,LE3.199,LE3.200,LE3.201,LE5.012,LE5.013,LE5.014,LE5.015,...,LE5.022,LE5.023,LE5.024,LE5.025,LE5.026,LE5.027,LE5.028,LE5.029,LE5.030,LE5.031
0,100,RU,Pilot,Strongly disagree,Strongly disagree,Strongly disagree,All the genes in DNA,,,99.9%,...,Many genes,Points of genetic variation,More than 90% the same,Is removed when passed from parent to offspring,No,CRISPR,No,True,True,There is an approximately 30% chance that some...
1,100,RU,Pilot,Agree,Strongly agree,Agree,The entire sequence of an individual's DNA,GCTA,,75%,...,,,,,Yes,,No,,,If someone has insomnia this is approximately ...
2,100,RU,Pilot,,,,,,,,...,,,,,,,,,,
3,100,RU,Pilot,,,,All the genes in DNA,GCTA,2 copies,99.9%,...,Many genes,Points of genetic variation,100% identical,Does not lead to the production of proteins,No,CRISPR,No,True,True,If someone has insomnia this is approximately ...
4,4,RU,Pilot,,,,,,,,...,,,,,,,,,,

In [34]:
df_1 = df[['LE3.199','LE3.200','LE3.201']].copy()
df_1

                LE3.199            LE3.200            LE3.201
0     Strongly disagree  Strongly disagree  Strongly disagree
1                 Agree     Strongly agree              Agree
2
3
4
...                 ...                ...                ...
1912
1913
1914
1915
1916

[1917 rows x 3 columns]

In [35]:
list1= ['Strongly disagree', 'Disagree']
list2= ['Strongly agree', 'Agree']
list3= ['Neutral']
variables = ['LE3.199', 'LE3.200', 'LE3.201']

In [36]:
list(itertools.permutations(variables))

[('LE3.199', 'LE3.200', 'LE3.201'),
 ('LE3.199', 'LE3.201', 'LE3.200'),
 ('LE3.200', 'LE3.199', 'LE3.201'),
 ('LE3.200', 'LE3.201', 'LE3.199'),
 ('LE3.201', 'LE3.199', 'LE3.200'),
 ('LE3.201', 'LE3.200', 'LE3.199')]

In [37]:
comb = list(itertools.combinations(variables, 2))  # we actually need combinations
comb

[('LE3.199', 'LE3.200'), ('LE3.199', 'LE3.201'), ('LE3.200', 'LE3.201')]

In [38]:
list1

['Strongly disagree', 'Disagree']

In [40]:
df_1.columns = ['var199', 'var200', 'var201']
df_1['count'] = 1
df_1

                 var199             var200             var201  count
0     Strongly disagree  Strongly disagree  Strongly disagree      1
1                 Agree     Strongly agree              Agree      1
2                                                                  1
3                                                                  1
4                                                                  1
...                 ...                ...                ...    ...
1912                                                               1
1913                                                               1
1914                                                               1
1915                                                               1
1916                                                               1

[1917 rows x 4 columns]

In [42]:
df_1.replace(' ', 'No response', inplace = True)
df_1

                 var199             var200             var201  count
0     Strongly disagree  Strongly disagree  Strongly disagree      1
1                 Agree     Strongly agree              Agree      1
2           No response        No response        No response      1
3           No response        No response        No response      1
4           No response        No response        No response      1
...                 ...                ...                ...    ...
1912        No response        No response        No response      1
1913        No response        No response        No response      1
1914        No response        No response        No response      1
1915        No response        No response        No response      1
1916        No response        No response        No response      1

[1917 rows x 4 columns]

In [43]:
g1 = df_1.groupby(['var199'])['count'].count().reset_index()
g1

                       var199  count
0                       Agree    553
1                    Disagree     58
2  Neither agree nor disagree    133
3                 No response    630
4              Strongly agree    448
5           Strongly disagree     95

In [46]:
bar = px.bar(g1, x='var199', y= 'count', color ='var199')
bar

In [50]:
g2 = df_1.groupby(['var200'])['count'].count().reset_index()
g2

                       var200  count
0                       Agree    526
1                    Disagree     68
2  Neither agree nor disagree    159
3                 No response    644
4              Strongly agree    435
5           Strongly disagree     85

In [52]:
g3 = df_1.groupby(['var201'])['count'].count().reset_index()
g3

                       var201  count
0                       Agree    557
1                    Disagree     52
2  Neither agree nor disagree    155
3                 No response    653
4              Strongly agree    426
5           Strongly disagree     74

In [71]:
df_3 = pd.melt(g3)
df_3

   variable                       value
0    var201                       Agree
1    var201                    Disagree
2    var201  Neither agree nor disagree
3    var201                 No response
4    var201              Strongly agree
5    var201           Strongly disagree
6     count                         557
7     count                          52
8     count                         155
9     count                         653
10    count                         426
11    count                          74

In [72]:
df_3.columns

Index(['variable', 'value'], dtype='object')

In [69]:
df_3.groupby(['variable']).value.count() # groupby single column
df_4 = df_3.groupby(['variable']).value.count().reset_index()
df_4

  variable  value
0    count    116
1   var199    116
2   var200    116
3   var201    116

In [70]:
df_5 = df_3.groupby(['variable', 'value'])['value'].count() # double column
df_5

variable  value
count     1                             42
          2                             17
          3                             15
          4                              6
          5                              7
          6                              3
          8                              3
          10                             1
          11                             2
          12                             1
          13                             2
          14                             2
          15                             1
          16                             1
          22                             1
          28                             1
          31                             1
          33                             1
          35                             1
          42                             1
          45                             1
          46                             1
          61                             1
          68                             1
          253                            1
          281                            1
          621                            1
var199    Agree                         26
          Disagree                      17
          Neither agree nor disagree    19
          No response                    9
          Strongly agree                20
          Strongly disagree             25
var200    Agree                         24
          Disagree                      19
          Neither agree nor disagree    20
          No response                   12
          Strongly agree                22
          Strongly disagree             19
var201    Agree                         25
          Disagree                      17
          Neither agree nor disagree    21
          No response                   19
          Strongly agree                20
          Strongly disagree             14
Name: value, dtype: int64